<!doctype html>
<html lang="en">

<head>
  <title>Requerimientos clientes</title>
  <!-- Required meta tags -->
  <link rel="shortcut icon" href="../assets/img/icon-wmnt.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d90748bc75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/colors.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <script type="module" src="../assets/js/header.js"></script>
</head>

<body>
  <header>
    
    <nav class="nav fixed-top p-3">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <i class="fa-sharp fa-solid fa-bars fs-1 text-secondary"></i>
        </button>
        <!-- <button class="btn ms-auto" title="Cerrar sesión" onclick="document.location.href='<?echo base_url()?>login/salir'"> -->
        <button class="btn ms-auto" title="Cerrar sesión" onclick="document.location.href='./login.html'">
          <i class="fa-solid fa-arrow-right-from-bracket fs-1 text-danger"></i>
      </button>
    </nav>

    <!-- Sidebar -->
      

    <div class="offcanvas offcanvas-start show border-0 shadow-lg" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
            <button type="button" class="btn p-2 btn-cerrar" data-bs-dismiss="offcanvas">
              <i class="fa-sharp fa-solid fa-bars fs-1 text-secondary"></i>
            </button>
        </div>
        <div class="offcanvas-body d-flex align-items-center justify-content-center overflow-hidden">
            <!-- Contenido off canvas -->
            <div class="row">
                <div class="col sidenav-content">
                    <img src="../assets/img/wmnt-degrade-c.png" class="logo mb-5" alt="Wamnet logo">
    
                    <h2 class="">Bienvenido, @nombre</h2>
                    <h4 class="fw-normal ">¿Con qué podemos ayudarlo hoy?</h4>
                    
                    <nav class="sidenav-options">
                      <ul>
                        <li>
                          <a href="#" class="fs-4 text-primary m-1 text-decoration-none">Nuevo Requerimiento</a>
                        </li>
                        <li>
                          <a href="./historial.html" class="fs-4 text-primary m-1 text-decoration-none">Historial de requerimientos</a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
            <!-- Fin Contenido off canvas -->
        </div>
    </div>
  </header>

  <main class="container-fluid h-100">
  <!-- <main class="container-fluid contenedor-principal"> -->

    <div class="container-fluid contenedor-principal">

   
      


    <!-- Contenido principal (parte reemplazable) -->


      <h2 class="mb-5">Nuevo requerimiento</h2>
    <form class="row">

      <!-- Primera columna -->

      <div class="col-12 col-lg-6 justify-content-center">
            <!-- <center> -->

              
                <select class="form-select mb-3" aria-label="Default select example">
                  <option selected>Seleccione un proyecto</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="mb-3">
                  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título del proyecto">
                </div>
                <div class="form-floating mb-4">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2">Describa su requerimiento</label>
                </div>

                <div class="input-group ">
                    <input type="file" class="form-control" id="upload" aria-describedby="upload" aria-label="Seleccionar archivo">
                    <button class="btn btn-outline-primary" type="button" id="uplaod">Cargar</button>
                </div>
                <div class="form-text mb-3">.doc, .docx, .pdf, .mp4, .jpg, .png</div>

                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Solicito una reunión virtual</label>
                </div>
                
                
                
            
              


            <!-- </center> -->
        </div>

        <!-- Segunda columna -->

        <div class="col-12 col-lg-6 justify-content-center" style="max-height: 350px; overflow-y:auto">
            <!-- <center> -->
              
              <table class="table table-striped border caption-top">
                <caption>Archivos adjuntos</caption>
                <thead>
                    <tr>
                        <th class="border">#</th>
                        <th class="border">Archivo</th>
                        <th class="border">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border">$numero-orden</td>
                        <td class="border">$nombre-archivo-extension</td>
                        <td class="border">
                            <!-- <a href="$url-archivo" target="_blank">
                                <i class="fa-solid fa-eye"></i>
                            </a> -->
                            <a href="#">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- </center> -->
        </div>
        <div class="col-12">
          <!-- <button type="submit" class="btn btn-primary">Enviar requerimiento</button> -->
          <a class="btn btn-primary" href="./confirmacion.html">Enviar requerimiento</a>
          <button type="submit" class="btn btn-outline-primary">Limpiar</button>
        </div>
      </form>
    <!-- FIN Contenido principal (parte reemplazable) -->



  </div>

  </main>

  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>