.faqs{
    background-color: black;
    border: 3px solid turquoise;
}

details{
    margin: 20px 0;
    padding: 5px 10px;
    transition: all 1s;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}

summary{
    background-color: blue;
}