body{
    height: 100vh;
}


/* .form-control{
    border-left: 1px solid transparent !important;
} */

.link-underline-opacity-0{
    text-decoration: none;
}
.logo{
    width: 100%;
    max-width: 15rem;
}

.login{
    padding: 3rem;
}

@media (max-width: 500px) {
    .logo{
        margin-top: 2rem;
    }

    .login{
        max-width: 250px;
        padding: 15px !important;
    }
}