<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d90748bc75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/css/colors.css">
    <link rel="stylesheet" href="../../assets/css/colors.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
</head>

<body>
  <header>
    
    <nav class="nav fixed-top p-3">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <i class="fa-sharp fa-solid fa-bars fs-1 text-secondary"></i>
        </button>
    </nav>

    <!-- Sidebar -->
      

    <div class="offcanvas offcanvas-start show border-0 shadow-lg" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
            <button type="button" class="btn p-2 btn-cerrar" data-bs-dismiss="offcanvas">
              <i class="fa-sharp fa-solid fa-bars fs-1 text-secondary"></i>
            </button>
        </div>
        <div class="offcanvas-body d-flex align-items-center justify-content-center overflow-hidden">
            <!-- Contenido off canvas -->
            <div class="row">
                <div class="col sidenav-content">
                    <img src="../../assets/img/wmnt-degrade-c.png" class="logo mb-5" alt="Wamnet logo">
    
                    <h2 class="">Bienvenid@, @nombre</h2>
                    <h4 class="fw-normal ">¿Con qué podemos ayudarlo hoy?</h4>
                    <div class="row mt-5 sidenav-options">
                        <a href="" class="fs-4 text-primary m-1 text-decoration-none">Nuevo Requerimiento</a>
                        <a href="" class="fs-4 text-primary m-1 text-decoration-none">Historial de requerimientos</a>
                    </div>
                </div>
            </div>
            <!-- Fin Contenido off canvas -->
        </div>
    </div>
  </header>

  <main class="container-fluid d-flex align-items-center h-100">
  <!-- <main class="container-fluid contenedor-principal"> -->





    <!-- Contenido principal (parte reemplazable) -->
    <div class="row d-flex align-items-center">
      <h2>Titulo titulo titulo titulo</h2>
      <div class="col col-md-6 justify-content-center border border-danger">
            <center>

                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
            </center>
        </div>
        <div class="col col-md-6 justify-content-center border border-danger">
            <center>

                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
                <h1>CONTENIDO</h1>
            </center>
        </div>
    </div>
    <!-- FIN Contenido principal (parte reemplazable) -->





  </main>

  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>