<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/vistas.css">
    <title>Información CRUD</title>
</head>
<body class="dark-mode">
    <header>
        <h1>d3vh4n5</h1>
        <a class="optionMenu" href="#inicio">Inicio</a>
        <div class="dark-mode-switch">
            <input type="checkbox" id="dark-mode-toggle" class="checkbox" checked>
            <label for="dark-mode-toggle" class="switch"></label>
        </div>
    </header>

    <main>
        <h1>Aqui habrá contenido ⚠️ Página en construcción</h1>
        <h2>Selector de páginas y representacion en iframe</h2>
        <ul>
            <li><a href="https://mercadolan.000webhostapp.com/backend/acerca_de.php" target="ifram-shower">Mercado Lan</a></li>
            <li><a href="http://bit.ly/linkscv" target="ifram-shower">Selector de Links con registros</a></li>
        </ul>
        <iframe name="ifram-shower" style="resize: both;" src="" width="500px" height="300px" frameborder="1"></iframe>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse, quisquam corporis eos et voluptatibus a? Nesciunt pariatur neque iure obcaecati, cumque blanditiis tenetur id?
        </p>
    </main>

    <footer>
        <div class="redes">
            <ul>
                <li><a href="https://www.linkedin.com/in/juanangelbasgall/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/d3vh4n5"><i class="fa-brands fa-github"></i></a></li>
                <!--
                <li><a href=""><i class="fa-brands fa-square-behance"></i></a></li>
                <li><a href=""><i class="fa-solid fa-basketball"> Dribbble</i></a></li>
                -->
                <li><a href="https://wa.me/+543489553144" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a></li>
            </ul>
        </div>
        <p>Designed and developed by Juan Angel Basgall (<a href="#inicio" class="linkFooter" alt="Sitio web del desarrollador">d3vh4n5</a>) Copyright © 2023 d3vh4n5 λ.</p>
    </footer>

    <script src="../assets/js/vistas.js"></script>
</body>
</html>